<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <activePackageSource>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </activePackageSource>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="gcpkg" value="https://pkg.grapecitydev.com/nuget/nuget-dev/" />
    <add key="mspkg" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageSourceCredentials>
    <gcpkg>
      <add key="Username" value="c1winforms" />
      <add key="ClearTextPassword" value="p8NMSy" />
    </gcpkg>
  </packageSourceCredentials>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
      <package pattern="Microsoft*" />
      <package pattern="System*" />
      <package pattern="C1*" />
      <package pattern="GrapeCity*" />
    </packageSource>
    <packageSource key="gcpkg">
      <package pattern="C1*" />
      <package pattern="GrapeCity*" />
    </packageSource>
    <packageSource key="mspkg">
      <package pattern="Microsoft*" />
      <package pattern="System*" />
    </packageSource>
  </packageSourceMapping>

  <config>
    <add key="repositoryPath" value="./packages" />
    <add key="globalPackagesFolder" value="./packages" />
  </config>
  <settings>
    <repositoryPath>./packages</repositoryPath>
  </settings>

</configuration>
