<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RibbonAndTheme.Properties.Settings.C1NWindConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\C1NWind.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <appSettings>
        <add key="C1ApplicationThemeSettings" />
        <add key="C1ApplicationTheme" value="(none)" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>