.box {
	BORDER-RIGHT: #c8c8f0 2px solid; BORDER-TOP: #c8c8f0 2px solid; FONT-WEIGHT: lighter; FONT-SIZE: 0.8em; MARGIN-BOTTOM: 2em; MARGIN-LEFT: 3%; BORDER-LEFT: #c8c8f0 2px solid; MARGIN-RIGHT: 2em; BORDER-BOTTOM: #c8c8f0 2px solid; FONT-STYLE: normal; FONT-FAMILY: verdana, sans-serif
}
.box LI {
	LIST-STYLE-POSITION: outside; LIST-STYLE-TYPE: none
}
.box UL {
	PADDING-LEFT: 5px
}
.idimage {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 20px; BORDER-TOP: medium none; PADDING-LEFT: 5px; BORDER-LEFT: medium none; PADDING-TOP: 5px; BORDER-BOTTOM: medium none
}
.title {
	PADDING-LEFT: 2em; FONT-WEIGHT: bold; BACKGROUND-COLOR: #d5d6d5
}
#heading {
	FONT-WEIGHT: bolder; FONT-SIZE: large; MARGIN-BOTTOM: 5px; WIDTH: 100%; PADDING-TOP: 10px; HEIGHT: 40px; BACKGROUND-COLOR: #75accf; TEXT-ALIGN: center
}
#bottom {
	RIGHT: 0px; LEFT: 0px; WIDTH: 100%; BOTTOM: 0px; TOP: auto; HEIGHT: 50px
}
#leftcol {
	FLOAT: left; WIDTH: 30%
}
#perso {
	BACKGROUND-COLOR: #e0e0e0
}
#navbar {
	BORDER-LEFT-COLOR: #d0d0d0; BORDER-BOTTOM-COLOR: #d0d0d0; BORDER-TOP-COLOR: #d0d0d0; BORDER-RIGHT-COLOR: #d0d0d0
}
#main {
	FLOAT: left; WIDTH: 70%
}
BODY {
	FONT-SIZE: small; FONT-FAMILY: 'Sans Serif'; BACKGROUND-COLOR: #f9f9f9
}
UL.writings LI {
	PADDING-TOP: 2em; LIST-STYLE-TYPE: circle
}
