<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="C1ApplicationTheme" value="Office365White" />
        <add key="C1ApplicationThemeSettings" value="ThemeFamily=6;AccentColor=255000095184;Background=255255255255;ForeColor=255050050050;" />
    </appSettings>
</configuration>