<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="C1ApplicationTheme" value="ExpressionDark" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <!-- If you are getting an 407 error (The remote server returned an error: (407) Proxy Authentication Required) when you call the web service, try to uncomment the config below :
    <system.net>
      <defaultProxy useDefaultCredentials="true" >
      </defaultProxy>
    </system.net>
    -->

</configuration>
