<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--Gemini api key setup-->
	<appSettings>
		<add key="GeminiApiUrl" value="https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent"/>
		<add key="GroqApiUrl" value ="https://api.groq.com/openai/v1/chat/completions"/>
	</appSettings>
</configuration>
