<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ColumnBandsAdvanced.My.MySettings.C1NWindConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\C1NWind.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <appSettings>
        <add key="C1ApplicationThemeSettings" />
        <add key="C1ApplicationTheme" value="Office2016Green" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>