<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ColumnBandsAdvanced.Properties.Settings.C1NWindConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C1NWind.mdb" />
    </connectionStrings>
    <appSettings>
        <add key="C1ApplicationThemeSettings" />
        <add key="C1ApplicationTheme" value="Office2016Green" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>