<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ComboBoxDataBinding.Properties.Settings.C1NWindConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\C1NWind.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>