<?xml version="1.0" encoding="utf-8"?>
<AllSamples xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Groups>
    <SampleGroup Name="">
      <Samples>
        <Sample Name="Radar Chart" ControlName="RadarChart">
          <Description>The demo shows how to create radar chart with FlexRadar control. Using FlexRadar is very similar to FlexChart:
1. Set the chart's ItemsSource property to a collection of data objects.
2. Set the chart's BindingX property to the name of the property that contains the values on circular axis.
3. Add one or more Series to the chart's Series collection and set their Binding property to the name of the property that contains the values on radial axis.</Description>
        </Sample>
        <Sample Name="Polar Chart" ControlName="PolarChart">
          <Description>The FlexRadar control represents a polar chart when x-values are numbers that specifies anglular values in degrees.
The demo shows plot of function defiined in polar coordinates.
          </Description>
        </Sample>
      </Samples>
    </SampleGroup>
  </Groups>
</AllSamples>