<?xml version="1.0" encoding="utf-8"?>
<AllSamples xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Groups>
    <SampleGroup Name="">
      <Samples>
        <Sample Name="Getting started" ControlName="GettingStarted">
          <Description>Steps for getting started with Sunburst control in WinForms applications:
1. Add reference to C1.Win.FlexChart.4 assembly.
2. Bind the data to Sunburst.</Description>
        </Sample>
        <Sample Name="Basic Features" ControlName="BasicFeatures">
          <Description>The Sunburst control has five basic properties that allow you to customize its layout and appearance.\n
1.InnerRadius: Specifies the control's inner radius to support donut charts.
2.Offset: Specifies the offset of the sunburst slices from the center of the control.
3.StartAngle: Starting at the nine o'clock position, specifies the angle to start drawing sunburst slices.
4.Palette: Specifies an array of default colors to be used when rendering sunburst slices.
5.Reversed: Determines whether the control should draw sunburst slices clockwise(false) or counterclockwise(true)
The example allows you to see what happens when you change these properties. Also, moving mouse on a sunburst slice will display a tooltip for the data point.
</Description>
        </Sample>
        <Sample Name="Selection" ControlName="Selection">
          <Description>The Sunburst control allows you to select data points by clicking a sunburst slice. Use the SelectionMode property to specify whether you want to allow selection by data point or no selection at all(default).
Setting the SelctionMode property to Point causes the Sunburst to update the selection property when the user clicks or touch on a sunburst slice.
The Sunburst offers two additional properties to customize the selection:
* SelectedItemOffset: Specifies the offset of the selected sunburst slice from the center of the control.
* SelectedItemPosition: Specifies the position of the selected sunburst slice. The available options are Top, Bottom, Left, Right, and None (default).
</Description>
        </Sample>
      </Samples>
    </SampleGroup>
  </Groups>
</AllSamples>