<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <appSettings>
        <add key="C1ApplicationTheme" value="Office2016Colorful" />
        <add key="C1ApplicationThemeSettings" />
    </appSettings>
    <connectionStrings>
        <add name="C1RibbonBasedApp.My.MySettings.C1NWINDConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\C1NWIND.MDB"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>
