<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ControlExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
 <appSettings>
  <add key="C1ApplicationTheme" value="(none)"/>
  <!-- Enable Windows Forms High Dpi Auto Resizing -->
  <!-- <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />  -->
 </appSettings>
 <connectionStrings>
  <add name="ControlExplorer.Properties.Settings.C1DemoConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\C1Demo.mdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
 </connectionStrings>
	<userSettings>
		<ControlExplorer.Properties.Settings>
   <setting name="QatBelowRibbon" serializeAs="String">
    <value>False</value>
   </setting>
  </ControlExplorer.Properties.Settings>
	</userSettings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
