<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="C1ApplicationTheme" value="Office2016Green"/>
    <add key="C1ApplicationThemeSettings"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="C1.DataCollection" publicKeyToken="79882d576c6336da" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.20201.27" newVersion="1.0.20201.27"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="C1.DataCollection.BindingList" publicKeyToken="79882d576c6336da" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.20201.27" newVersion="1.0.20201.27"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="C1.CalcEngine" publicKeyToken="5b232803f482ce0b" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.20202.15" newVersion="1.2.20202.15"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
